body{
    background-color: rgba(48, 188, 215, 0.19);
}
.input{
    padding: 20px;
    color : orangered;
    text-align: center;
}
.container1{
    text-align: center;
}
.container2{
    border: 1px solid lightgray;
    width: 50%;
    height: 500px;
    margin-top: 40px;
    margin-left: 45vh;
    overflow-x: scroll;
    overflow-y: scroll;
}
.button{
    color: blueviolet;
    border-radius: 10px;
    width: 10%;
    height: 30px;
    padding: 5px;
    border: none;
    background-color:rgba(46, 59, 203, 0.19);
}
.output {
    font-family: 'Times New Roman', Times, serif;
    color: orangered; 
    margin-left: 35%;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 35px;
    transition: width 100ms, height 100ms;
}
